<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stil.css') }}">
</head>
<body>
    
    <h1>Server Dashboard</h1>
    <a href="/">Hovedside</a>
    <a href="/arbeidere">Ansatte</a>

    <hr>
    
    <h2>Servermåling</h2>

    <p>CPU: {{ data.cpu}}%</p>

    <p>RAM: {{data.ram}}%</p>

    <p>Tidspunkt: {{data.created_at}}</p>
    
</body>
</html>